<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link rel="stylesheet" type="text/css" media="all"  href="bootstrap.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<p>Cong ty Co phan VFF</p>
			</div>
			<div class="col-sm-6 text-center">
				<p>Cong hoa xa hoi chu  nghia Viet Nam</p>
				<p>Doc lap - Tu do - Hanh Phucc</p>
			</div>
		</div>
		<div class="row text-center">
			<h1 style="font-style: bold">BIEN BAN CUOC HOP</h1>
			<h2>Ve van de hop dong lao dong</h2>
		</div>
		<div class="content-report">
			<div class="row">
				<p>Thoi gian bat dau: </p>
			</div>
			<div class="row">
				<p>Dia diem: </p>
			</div>
			<div class="row">
				<p>Thanh phan tham du: </p>
			</div>
			<div class="row">
				<p>Chu tri: </p>
			</div>
			<div class="row">
				<p>Thu ky: </p>
			</div>
			<div class="row">
				<p>Noi dung cuoc hop: </p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="10%">Thoi gian</th>
							<th width="20%">Nguoi noi</th>
							<th>Noi dung</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9h48p - 9h50p</td>
							<td>Nguyen Khac Tu</td>
							<td>Nhằm tôn vinh giá trị “Mãnh liệt tinh thần Việt Nam” - Lễ ra mắt xe VinFast sẽ được lần lượt tổ chức tại Hà Nội và Tp HCM với nhiều hoạt động bên lề đặc sắc</td>
						</tr>
						<tr>
							<td>9h48p - 9h50p</td>
							<td>Le Thi Thu</td>
							<td>Trong đó, tâm điểm của Lễ ra mắt là màn xuất hiện của hai “Ngôi sao mới” trong ngành ô tô thế giới - giải thưởng danh giá VinFast được trao tại Paris Motor Show (Pháp) - Sedan Lux A 2.0 và SUV Lux SA 2.0. Hai mẫu xe được phát triển dựa trên bản thiết kế do người tiêu dùng trong nước lựa chọn, mang vẻ đẹp kiêu hãnh, sang trọng, với những chi tiết duyên dáng gợi nhắc tinh thần Việt.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<p>Cuoc hop ket thuc vao ... gio ... ngay ... thang ... nam ...</p>
			</div>
		</div>
		<div class="footer-report text-center">
			<div class="row">
				<div class="col-sm-6">
					<p style="font-style: bold;">THU KY</p>
					<p style="font-style: italic;">(Chu ky va ho ten)</p>
				</div>
				<div class="col-sm-6">
					<p style="font-style: bold;">CHU TOA</p>
					<p style="font-style: italic;">(Chu ky va ho ten)</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>